<!DOCTYPE html>
<html>
<head>
  <!-- testing -->
	<title>WeFive</title>

  <link rel="icon" href= "img/titlelogo.png" type="image/x-icon"> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Sora:wght@500;600&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://cdn.tiny.cloud/1/vgqocdqqvabj71rwopy0pfg6vp7ldb0ameqmftybdin1k35i/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script type="text/javascript">
  tinymce.init({
    selector: '.myeditablediv',
    inline: true,
    menubar: false
  });
	</script>

<link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

	<!-- -------------------------NAVBAR--------------------------- -->
	<nav class="navbar navbar-expand-xl navbar-dark" id="mainNav" style="background:#154854;">
    <div class="container">
    <img class="navbar-brand" src="/img/login_logo_light.png" style="width:90px;padding:0px 0px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item active ml-2">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active mx-1">
          <a class="nav-link" href="/about"></i> About</a>
        </li>
        <li class="nav-item active ml-1 mr-2">
          <a class="nav-link" href="/front"></i> Specs</a>
        </li>
        <li class="d-lg-none">
          <div class="dropdown">
  <button class="btn dropdown-toggle" style=" background: #154854" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Category
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   <a class="dropdown-item" href="/category/GeneralKnowledge" class="cat_anchor">General Knowledge</a><br>
    <a class="dropdown-item" href="/category/Education" class="cat_anchor">Education</a><br>
    <a class="dropdown-item" href="/category/Entertainment" class="cat_anchor">Entertainment</a><br>
    <a class="dropdown-item" href="/category/Webseries&Movies" class="cat_anchor">WebSeries & Movies</a><br>
    <a class="dropdown-item" href="/category/Sports" class="cat_anchor">Sports</a><br>
    <a class="dropdown-item" href="/category/HistoryOfIndia" class="cat_anchor">History of India</a><br>
    <a class="dropdown-item" href="/category/TechnologyTricks" class="cat_anchor">Technology Tricks</a><br>
    <a class="dropdown-item" href="/category/GlamourWorld" class="cat_anchor">Glamour World</a><br>
    <a class="dropdown-item" href="/category/MovieReview" class="cat_anchor">Movie Review</a><br>
  </div>
  </div>
        </li>
        
        <p>
         <form action="/" method="GET" class="form-inline">
           <div class="form-group">
             <i class="fas fa-search d-none d-md-block" style="color: white;"></i><input type="text" name="search" style="border-radius: 50px; margin-left:10px;width:300px;" placeholder="Search..." class="form-control">
           </div>
         </form>
       </p>
      </ul>
        <% if (!currentUser) { %>
      <a class="btn mx-2" href="/signin">Sign in</a>
     
      <a class="btn mx-2"  href="/signup">Sign up</a>
        <% } else { %> 
     <a class="form mr-3" href="/<%= currentUser._id %>/profile" aria-label="Username" aria-describedby="basic-addon1" disabled style="border:none;color:white; font-family: 'Sora';text-decoration: none;text-transform: capitalize;"><img src="/uploads/<%= currentUser.image %>" style="width:2.5rem; height: 2.5rem;border-radius: 50%;margin-right:10px;"> <%=currentUser.username %></a>
      <a class="btn" style="color:white;text-decoration: none;" href="/logout">Logout</a></button>
        <% } %>
    </div>
  </div>
  </nav>
  

<!-- -------------------------NAVBAR END--------------------------- -->

<div class="row pt-2">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<form action="/edit/answer/<%= answer._id %>"method="post" id="textarea" class="p-2">
        
                  <textarea name="answer" ><%- answer.answer %>
        
    
       
        
        </textarea>
      <br>
        <BUTTON type="submit" id="answerbutton" class="btn btn-success">Submit</BUTTON>
        
      </form>
	</div>
	<div class="col-md-2"></div>
</div>

<script>
          tinymce.init({
            selector: 'textarea',
            plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
            toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
          });
          
        </script>

         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>